<div class="cartContainer">
    <h1 class="pageTitle">Cart</h1>
    <div class="cartItems" ng-repeat="item in cart track by $index">
        <h4>- {{item.name}}</h4>
            <img ng-show="item.image" ng-src="{{item.image}}" height="55" width="55" />
            <p>{{item.description}}</p>
            <strong class="cartPrice">$ {{item.price}}</strong>
        <button class="cartButton" ng-click="removeFromCart($index)">Delete</button>
    </div>
    <div class="totals">
      <div class="totalBar">
      </div>
      <div class="addTotal">
        <p class="tax">Tax = ${{sum}}</p>
        <p class="total">Total = ${{}}</p>
      </div>
    </div>
</div> 
<br />