<br />
<br />
<div class="login">
    <div class="loginLeftRight"><img class="loginPicLeft" src="../../img/creampuff.JPG" /></div>
<!--
        <div class="loginInnerContainer" ng-hide="login">
            <form class="loginBody">
                <h1 class="loginText">Login</h1>
                <p class="loginText" id="loginIncentiveMessage">for your deal of the day!</p>
                <p class="loginItemName">Email</p>
                <input type="text" class="loginItem" placeholder="Type Here" ng-model="credentials.email">
                <p class="loginItemName">Password</p>
                <input type="password" class="loginItem" placeholder="Type Here" ng-model="credentials.password">
                <br />
                <br />
                <br />
                <button type="submit" class="loginButton" ng-click="logInUser(credentials)">Log In</button>
                <p class="loginText">Not Yet a Member?</p>
                <p class="loginText" id="loginIncentiveMessage">Sign up to receive special offers!</p>
                <button class="loginButton" ng-click="login = !login">Register</button>
            </form>
        </div>
-->
    <div class="loginInnerContainer" class="ng-hide">
<!--      ng-show="login" was used in above div to swith between login and register view. taken out until login is used.-->
        <form class="loginBody">
            <h1 class="loginText">Sign Up</h1>
            <p class="loginText" id="loginJoinMessage">Join to receive special offers from your favorite bakery!</p>
            <p class="loginItemName">First Name</p>
                <input ng-model="newUser.first" class="loginItem" placeholder="Type Here">    
            <p class="loginItemName">Last Name</p>
                <input ng-model="newUser.last" class="loginItem" placeholder="Type Here">   
            <p class="loginItemName">Email</p> 
                <input ng-model="newUser.email" type="email" class="loginItem" placeholder="Type Here">    
            <p class="loginItemName">Phone Number</p> 
                <input ng-model="newUser.phone" type="tel" class="loginItem" placeholder="Type Here">    
<!--taken out until login is used
            <p class="loginItemName">Create Password</p>
                <input ng-model="newUser.password" type="password" class="loginItem" placeholder="Type Here">
-->
                <br />
            <button type="submit" class="loginButton" ng-click="addNewUser(newUser)">Submit</button>
            <p class="loginText">Already a Member?</p>
            <button class="loginButton" ng-click="login = !login">Log In</button>
            <br />        
        </form>
    </div>
    <div class="loginLeftRight"><img class="loginPicRight" src="../../img/8.JPG" /></div>
</div>    
<br />
<br />