<br />
<br />
<div class="login">
    <div class="loginLeftRight"><img class="loginPicLeft" src="../../img/creampuff.jpg" /></div>
        <div class="loginInnerContainer" ng-hide="login">
            <form class="loginBody">
                <h1 class="loginText">Login</h1>
                <label class="loginItemName">Username
                    <input type="text" class="loginItem" placeholder="Type Here" ng-model="credentials.email">
                </label>    
                    <br />
                    <br />
                <label class="loginItemName">Password
                    <input type="password" class="loginItem" placeholder="Type Here" ng-model="credentials.password">
                </label>    
                    <br />
                    <br />
                <button type="submit" class="loginButton" ng-click="logInUser(credentials)">Log In</button>
                <p class="loginText">Not Yet a Member?</p>
                <button class="loginButton" ng-click="login = !login">Register</button>
            </form>
        </div>
    <div class="loginInnerContainer" ng-show="login" class="ng-hide">
        <form class="loginBody">
            <h1 class="loginText">Sign Up</h1>
            <label class="loginItemName">First Name
                <input ng-model="newUser.first" class="loginItem" placeholder="Type Here">
            </label>    
                <br />
                <br />
            <label class="loginItemName">Last Name
                <input ng-model="newUser.last" class="loginItem" placeholder="Type Here">
            </label>
                <br />
                <br />
            <label class="loginItemName">Email
                <input ng-model="newUser.email" type="email" class="loginItem" placeholder="Type Here">
            </label>    
                <br />
                <br />
            <label class="loginItemName">Phone Number
                <input ng-model="newUser.phone" type="tel" class="loginItem" placeholder="Type Here">
            </label>    
                <br />
                <br />
            <label class="loginItemName">Create Password
                <input ng-model="newUser.password" type="password" class="loginItem" placeholder="Type Here">
            </label>    
                <br />
                <br />
<!--
            <label class="loginItemName">ReEnter Password
                <input ng-model="newUser.password" type="password" class="loginItem" placeholder="Type Here">
            </label>
-->
                <br />
                <br />
            <button type="submit" class="loginButton" ng-click="addNewUser(newUser)">Submit</button>
            <p class="loginText">Already a Member?</p>
            <button class="loginButton" ng-click="login = !login">Log In</button>
        </form>
    </div>
    <div class="loginLeftRight"><img class="loginPicRight" src="../../img/8.JPG" /></div>
</div>    
<br />
<br />