<div class="menu">
    <h1 class="pageTitle">Menu</h1>
    <div class="menuContainer" ng-repeat="(key, val) in menuItems">
        <div class="menuCategories">
            <h1 class="menuTitles"><strong>{{key}}</strong></h2>
            <br />
            <div class="menuItems" ng-repeat="item in val">
                <h3>~{{item.name}}~</h4>
                <img ng-show="item.image" ng-src="{{item.image}}" height="100" width="150" />
                <p class="menuDescription">- {{item.description}}</p>
                <strong class="menuPrice">$ {{item.price}}</strong>
                <br />
                <br />
                <span id="menuButtons">
                    <button ng-click="addToCart(item)">Add To Cart</button>
                </span> 
                <br />
                <br />
              <span>
                <img src="../../img/border-md.jpg" />
              </span>
            </div>
        </div>
    </div>
</div>